<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER"   value="root" />
        <var name="DB_PASSWORD" value="coderslab" />
        <var name="DB_NAME" value="Twitter_TDD"/>
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory suffix='.php'>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
